@use "settings-mixins" as *;
@use "settings-variables" as *;

p {
    @include base-paragraph;
    margin: 3rem 0;

    &:last-child {
        margin-bottom: 0;
    }

    &:first-child,
    &:first-of-type {
        margin-top: 0;
    }

    // @media @phone-side {
    //     margin: 2rem 0;
    // }

    @media #{$phone-side} {
        margin: 2rem 0;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 700;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
    font-family: $head-fonts;
    @include fluid(font-size, 3.2rem, 4rem);
    line-height: 1.1;
    @include fluid(margin-bottom, 3rem, 4.5rem);

    &:first-of-type {
        margin-top: 0;
    }
}

h2, .h2 {
    font-family: $head-fonts;
    @include fluid(font-size, 2.8rem, 3.4rem);
    line-height: 1.17;
    @include fluid(margin-bottom, 4rem, 8rem);
}

h3, .h3 {
    font-family: $head-fonts;
    @include fluid(font-size, 2.4rem, 2.8rem);
    line-height: 1.44;
    @include fluid(margin-bottom, 2rem, 3rem);
}

h4, .h4 {
    @include fluid(font-size, 2rem, 2.4rem);
    line-height: 1.24;
    @include fluid(margin-bottom, 2rem, 3rem);
}

h5, .h5 {
    @include fluid(font-size, 1.8rem, 2rem);
    line-height: 1.38;
    @include fluid(margin-bottom, 2rem, 3rem);
}

h6, .h6 {
    @include base-paragraph;
}

a:not([class]) {
    color: $key-color;
    transition: all $anim-time ease;
    
    &:hover, &:focus {
        color: $key-color-dark;
    }
}

b, strong {
    font-weight: 700;
}

ul,
ol {
  @include base-paragraph;
  margin: 3rem 0 0 0;
  padding-left: 1.9rem;
}

ul li,
ol li {
  @include base-paragraph;
  margin: 0 0 1rem 0;
}

blockquote {
    position: relative;
    padding: 0;
    background: none;
    margin: 0;
    @include fluid(margin-top, 6rem, 16rem);
    @include fluid(margin-bottom, 6rem, 16rem);
    max-width: 84rem;
    
    font-family: $head-fonts;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;

    p {
        font-family: $head-fonts;
        @include fluid(font-size, 2.4rem, 4rem);
        font-weight: 600;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }
}